<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Channel 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6FCBA471D5AC60A00DC5FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6FCBA5D1D5AC60B00DC5FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6FCBA681D5AC60B00DC5FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
